.leftuisizetable-container {
    width:100%;

}
.leftuisizetable-container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.leftuisizetable-container td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.leftuisizetable-container tr:nth-child(even) {
    background-color: #dddddd;
}





