.changepassword-container{
    margin: 3rem auto;
}

.changepassword-container .inputbtn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

.changepassword-container .message{
    text-align: center;
    margin-top:3rem;
    color:red;

}

.changepassword-container .success{
    color: blue;
}

.changepassword-container .waring{
    color:red;
}