.registerbar-container {
   
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
  
    
}

.registerbar-container .activebtn{
    color:blue
}

.registerbar-container .inactive{
    display: none;
}




.registerbar-container a {
    
    font-family: Arial, Helvetica, sans-serif;
    margin: .8rem;
    color:#EF5D25;
    cursor: pointer;
}



.registerbar-container .login-register:hover{
    border-bottom: 1px solid red;
}

.registerbar-container .login-signin {
    
    border: 1px solid #EF5D25;
    padding: .34rem 1rem;
    border-radius:4px;
    cursor: pointer;

}

.registerbar-container .login-signin:hover {
    background-color: rgb(247, 234, 234)

}

.material-icons.orange600 { 
    font-size: 24px;
    margin-top:.299rem;
 }

 @media only screen and (max-width:365px){

    .registerbar-container a {
        margin: .4rem;
        
    }

    .registerbar-container .login-signin {
    
    
        padding: .17rem .9rem;
     
    
    }
}
