

.pageone-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.final-wrapper .active{
    display:block;
}

.final-wrapper .inactive{
    display:none;
}

.pageone-container .accountexisting {
    margin-top:1rem;
}