.resetpassword-container {
    
    margin:2rem auto;
  
    width:20rem;
    max-width: 100%;
}

.resetpassword-container .title{
    margin-bottom: 3rem;
    font-weight: 100;
}

.resetpassword-container .message {
    
    color: #EF5D25;
  
    
}